
body, html {
	
	width: 100%;
	height: 100%;
	margin: 0;
	
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

#table{
	width: 70%;
	height: 90%;
	
	border-radius: 20px;
	display:flex;
	/*align-items: center;
	justify-content: center;*/
	flex-direction: column;

	background: linear-gradient(#9fe558 0%, #8edb3d 40%, #67c200 100%) no-repeat no-repeat;
	margin-top: 0;

}



#the-dealer{

	
	
	justify-content: flex-start;
	display: flex;
	margin-bottom: 10px;
}

#the-player{

	
	
	justify-content: flex-start;
	display: flex;
	margin-top: 10px;
}

#dealer-hand{

	align-items: center;
	justify-content: flex-start;
	display: flex;
	min-height: 195px;
	min-width: 900px;
	


}

#player-hand{

	align-items: center;
	justify-content: flex-start;
	display: flex;
	min-height: 195px;
	min-width: 900px;
	

}


.buttons{

	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.hand img {
  width: 15%;
 
  margin-left: 10px;
}

#name{
margin-left:50px; 
color: rgb(17, 102, 17);
}

#title{
	padding: 0;
	margin-top: 20px;
	margin-bottom: 0px;
	color:rgb(0, 68, 0);
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	display: flex;
	justify-content: center;



}
#messages{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	min-height: 40px;
	color: red;
	font-weight: bold;

}
.points{
	color: red;
	margin-left: 5px;
}
button{
	background-color: rgb(17, 102, 17);
	color: white;
	border: none;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

button:hover{
	background-color: rgb(0, 68, 0);
	color: white;
	border: none;
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}